.btn{
    width: 200px;
    height: 30px;
    border-radius: 1rem;
    border-color: #1a8cff;
    border-width: thin;
    cursor: pointer;
}
.btn-blue{
    background-color: #1a8cff;
    color: white;
    margin-bottom: 10px;
}
.btn-white{
    background-color: white;
    color: #1a8cff;
}