.flex-container{
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}
.flex-container img{
    max-width: 200px;
}
.title{
    text-align: center;
}
.main-div *{
    font-weight: normal;
}